---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
      Hello
    </span>
    <p
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent h-24"
      >
      I'm Agility6.
    </p>
    </h1>
  </div>
  <div>
    <p class="mb-5 text-xl font-bold">
      Software Engineer / Student
    </p>
    <p>
      <span class="font-bold">Email: </span> 
      <a
        href="mailto:agility1013@gmail.com"
      >agility1013@gmail.com</a>
    </p>
  </div>
</section>
