---
---

<section class="mb-8">
  <div class="mb-4 flex justify-between items-center">
    <div
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
    <p class="mb-3">
      <span
        class="bg-gradient-to-br mb-4"
      >
        Hello
    </span>
    </p>
    <p
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent h-24"
      >
      I'm Agility6.
    </p>
    </div>
    <div class="w-[163px]">
      <img src="/public/images/favicon.png" alt="" class="rounded-full">
    </div>
  </div>
  <div>
    <p class="mb-5 text-xl font-bold">
      Software Engineer / Student
    </p>
    <p class="mb-4">
      👻 Know a bit about front-end development.
    </p>
    <p class="mb-8">
      👻 Now fully engaged in back-end development learning.
    </p>
    <div class="m-8">
      <p class="mb-3">1. Main direction Java development</p>
      <p class="mb-3">2. Love the Go programming language</p>
      <p class="font-bold bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent">In the process of learning :)</p>
    </div>
  </div>
  <div>
    <span class="font-bold">Email: </span> 
    <a
      href="mailto:agility1013@gmail.com"
    >agility1013@gmail.com</a>
  </div>
</section>
